@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a:focus,
a:active {
  /* outline: none;*/ }

/* Links */
a, a:link, a:visited  {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */ }

a:hover {
  /* color: inherit; */
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

body {
  background-color: #230361;
  color: #ffffff; }
  body .header {
    background-image: url(../image/png/background1.png); }
    body .header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      padding: 40px 20px; }
      body .header-container .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px; }
        body .header-container .nav__list {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 40px; }
        body .header-container .nav__link {
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-decoration: none;
          color: #ffffff; }
    body .header-container1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      body .header-container1 .header-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px; }
        body .header-container1 .header-box__title {
          font-family: 'Chakra Petch', sans-serif;
          font-size: 63px;
          font-weight: 700;
          line-height: 60px;
          color: rgba(255, 255, 255, 0);
          -webkit-text-stroke: 1px #FFFFFF; }
        body .header-container1 .header-box__back {
          background-image: url(../image/svg/price-back.svg);
          background-repeat: no-repeat;
          background-size: cover;
          padding: 4px; }
        body .header-container1 .header-box__price {
          font-family: 'Chakra Petch', sans-serif;
          font-size: 56px;
          font-weight: 700;
          line-height: 60px; }
        body .header-container1 .header-box__text {
          font-family: 'Chakra Petch', sans-serif;
          font-size: 22px;
          font-weight: 400;
          line-height: 25px; }
      body .header-container1 .header-box1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 200px; }
        body .header-container1 .header-box1 .header-cont {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 30px; }
          body .header-container1 .header-box1 .header-cont__title {
            font-family: 'Chakra Petch', sans-serif;
            font-size: 63px;
            font-weight: 700;
            line-height: 60px; }
          body .header-container1 .header-box1 .header-cont-wrap {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px; }
            body .header-container1 .header-box1 .header-cont-wrap .header-time {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 20px; }
              body .header-container1 .header-box1 .header-cont-wrap .header-time__box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px; }
                body .header-container1 .header-box1 .header-cont-wrap .header-time__box-cont {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 20px;
                  position: relative;
                  padding: 11px 30px;
                  border-radius: 8px;
                  border: 2px solid transparent;
                  border-image: linear-gradient(#EA4835, #7000D3);
                  border-image-slice: 1; }
                  body .header-container1 .header-box1 .header-cont-wrap .header-time__box-cont-text {
                    font-family: 'Chakra Petch', sans-serif;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 60px; }
                body .header-container1 .header-box1 .header-cont-wrap .header-time__box-text {
                  font-family: 'Chakra Petch', sans-serif;
                  font-size: 22px;
                  font-weight: 400;
                  line-height: 25px; }
              body .header-container1 .header-box1 .header-cont-wrap .header-time__text {
                margin-bottom: 25px;
                color: #ffffff;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 35px;
                font-weight: 600;
                line-height: 77px; }
          body .header-container1 .header-box1 .header-cont__text {
            font-family: 'Chakra Petch', sans-serif;
            font-size: 35px;
            font-weight: 600;
            line-height: 25px; }
          body .header-container1 .header-box1 .header-cont__loader {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px; }
            body .header-container1 .header-box1 .header-cont__loader-textbox {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 284px; }
              body .header-container1 .header-box1 .header-cont__loader-textbox-text {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 25px; }
          body .header-container1 .header-box1 .header-cont__btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px; }
        body .header-container1 .header-box1 .header-cont2 {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          background-color: #360F8AE6;
          padding: 11px 30px;
          margin-bottom: 60px; }
          body .header-container1 .header-box1 .header-cont2__title {
            font-family: 'Chakra Petch', sans-serif;
            font-size: 63px;
            font-weight: 700;
            line-height: 60px; }
          body .header-container1 .header-box1 .header-cont2__trade {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px; }
            body .header-container1 .header-box1 .header-cont2__trade-cont {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 12px; }
              body .header-container1 .header-box1 .header-cont2__trade-cont-text {
                font-family: 'Chakra Petch', sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 25px; }
            body .header-container1 .header-box1 .header-cont2__trade-input {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 20px;
              padding: 20px;
              width: 100%;
              border: 2px solid #220970A3;
              border-radius: 30px; }
            body .header-container1 .header-box1 .header-cont2__trade-cont2 {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 212px; }
          body .header-container1 .header-box1 .header-cont2__text {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 25px; }
  body .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px; }
    body .main .section1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      body .main .section1-container1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px; }
        body .main .section1-container1__title {
          font-family: 'Chakra Petch', sans-serif;
          font-size: 35px;
          font-weight: 700;
          line-height: 60px; }
          body .main .section1-container1__title-text {
            color: #EB4834; }
        body .main .section1-container1 .section1-box {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 40px; }
          body .main .section1-container1 .section1-box__cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
            border-right: 3px solid transparent;
            border-image: linear-gradient(#DB205BFF, #7000D38C);
            border-image-slice: 1;
            padding-right: 15px; }
            body .main .section1-container1 .section1-box__cont-text {
              font-family: 'Roboto', sans-serif;
              font-size: 21px;
              font-weight: 500;
              line-height: 25px; }
            body .main .section1-container1 .section1-box__cont-text1 {
              font-family: 'Roboto', sans-serif;
              font-size: 18px;
              font-weight: 500;
              line-height: 25px;
              color: #EB4834; }
          body .main .section1-container1 .section1-box__wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px; }
            body .main .section1-container1 .section1-box__wrap .section1-box__coin {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 20px; }
              body .main .section1-container1 .section1-box__wrap .section1-box__coin-text {
                font-family: 'Roboto', sans-serif;
                font-size: 19px;
                font-weight: 500;
                line-height: 25px; }
              body .main .section1-container1 .section1-box__wrap .section1-box__coin-text1 {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 25px; }
  body button {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    padding: 14px 26px;
    color: #ffffff;
    background-color: #7400D3;
    border-radius: 30px; }
