@import './reset';
@import './mixin';
@import './vars';

body{
    background-color: $background-color;
    color: $main-color;
    .header{
        background-image: url(../image/png/background1.png);
        &-container {
            @include flex(row, space-around, center, 20px);
            padding: 40px 20px;
            .nav{
                @include flex(row, center, center, 40px);
                &__list {
                    @include flex(row, center, center, 40px);
                }
                &__link {
                    @include Roboto(16px, 400, 24px);
                    text-decoration: none;
                    color: $main-color;
                }
            }
        } 
        &-container1{
            @include flex(column, center, center, 20px);
            .header-box{
                @include flex(column, center, center, 20px);
                &__title{
                    @include ChakraPetch(63px, 700, 60px);
                    color: rgba(255, 255, 255, 0);
                    -webkit-text-stroke: 1px #FFFFFF;
                }
                &__back{
                    background-image: url(../image/svg/price-back.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding: 4px;
                }
                &__price{
                    @include ChakraPetch(56px, 700, 60px);
                   
                }
                &__text{
                    @include ChakraPetch(22px, 400, 25px);
                }
            }
            .header-box1{
                @include flex(row, center, center, 200px);
                .header-cont{
                    @include flex(column, center, center, 30px);
                    &__title{
                        @include ChakraPetch(63px, 700, 60px);
                    }
                    &-wrap{
                        @include flex(row, center, center, 20px);
                        .header-time{
                            @include flex(row, center, center, 20px);
                            &__box{
                                @include flex(column, center, center, 20px);
                                &-cont{
                                    @include flex(row, center, center, 20px);
                                    position: relative;
                                    padding: 11px 30px;
                                    border-radius: 8px;
                                    border: 2px solid transparent;
                                    border-image:  linear-gradient(#EA4835 , #7000D3);
                                    border-image-slice: 1;
                                    &-text{
                                        @include ChakraPetch(48px, 700, 60px);
                                    }
                                }
                                &-text{
                                    @include ChakraPetch(22px, 400, 25px);
                                }
                            }
                            &__text{
                                margin-bottom:25px;
                                color: $main-color;
                                @include ChakraPetch(35px,600,77px);
                            }
                        }
                    }
                    &__text{
                        @include ChakraPetch(35px, 600, 25px);
                    }
                    &__loader{
                        @include flex(column, flex-start, flex-start, 20px);
                        &-textbox{
                            @include flex(row, center, center, 284px);
                           &-text{
                            @include Roboto(18px, 500, 25px);
                           }
                        }
                    }
                    &__btn{
                        @include flex(row, center, center, 20px);
                    }
                }
                .header-cont2{
                    @include flex(column, flex-start, center, 20px);
                    background-color: #360F8AE6;
                    padding: 11px 30px;
                    margin-bottom: 60px;
                    &__title{
                        @include ChakraPetch(63px, 700, 60px);
                    }
                    &__trade{
                        @include flex(column, flex-start, flex-start, 20px);
                        &-cont{
                            @include flex(row, flex-start, center, 12px);
                            &-text{
                                @include ChakraPetch(18px, 600, 25px);
                            }
                        }
                        &-input{
                            @include flex(row, flex-start, flex-start, 20px);
                            padding: 20px;
                            width: 100%;
                            border: 2px solid #220970A3; 
                            border-radius: 30px;
                        }
                        &-cont2{
                            @include flex(row, flex-start, flex-start, 212px);
                        }
                    
                    }
                    &__text{
                        @include Roboto(18px, 500, 25px);
                    }
                }
            }
            
        }
    }
    button{
        @include ChakraPetch (18px, 700, 25px);
        padding: 14px 26px;
        color: $main-color;
        background-color:#7400D3;
        border-radius: 30px;
    }
}






